<center>
  <h1>About Charlie</h1>
  <hr>
  
  <div class="row">
    <div class="col-md-4">

      <%= image_tag "profile.jpg", width: 300, alt:  "Profile Image" %> 

      
    </div>
    <div class="col-md-8">

      <p>I’m a Software engineer that thrives in helping organizations solve their challenges through technology. My unique experience in the military, finance and software engineering have allowed me to have a deep understanding of businesses and the people behind them. I thrive in pushing myself beyond my comfort level to learn new things.</p>
      <p>Currently working as a Software Engineering Consultant at FDM Group operating out of Reston, Virgina</p>
      <%= image_tag "sign_black.png", width: 225, align: "right", alt: "Profile Signature" %>
    </div>
  </div>


</center>
  
