<h1>Pages#contact</h1>

<p><%= number_to_phone "2243107523" %></p>
<p><%= number_to_currency "150" %></p>
<p><%= number_to_percentage "80.4" %></p>
<p><%= number_with_delimiter "294798317970743896471" %></p>





