<h1 >How to get a hold me?</h1>
<hr>

<div class="row">
  <div class="col-med-6">
    <h3>ADDRESS</h3>
    <p>1805 Library St Suite 210 </p>
    <p>Reston, VA 20191</p>

    <h3>PHONE</h3>
    <p><%= number_to_phone "2243107523" %></p>
    <h3>EMAIL</h3>
    <p><a href="mailto:charlesabotello@gmail.com?subject=PortfolioContact" "email me">charlieabotello@gmail.com</a> </p>
  </div>
  <hr>
  <div class="col-med-6">
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3102.4939454305427!2d-77.36036328467704!3d38.958387879561165!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x89b6481f273984b5%3A0x46ef88f355e3fe37!2sFDM+Group+Reston!5e0!3m2!1sen!2sus!4v1532922323271" width="450" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
  </div>
</div>






